@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "variables";

body {
  background-color: $favColor;
}

// Nav Bar
.navLogo {
  border-radius: 50%;
  height: 40px;
}

li {
  list-style: none;
}

// Trips view
.card-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
  justify-content: center;

  .card {
    width: 300px;
    height: auto;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-body {
    flex: none;
  }
}

.trips-header {
  margin-top: 100px;
  display: center;
}

// Trips Planner View
.card-container-b {
  display: flex;
  flex-flow: row wrap;
  margin-top: 100px;
  justify-content: center;

  .card {
    width: 600px;
    height: auto;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-body {
    flex: none;
  }
}

.planner-container {
  margin-top: 100px;
  width: 100%;

  h2 {
    text-align: center;
  }
}

.form-container {
  padding: 10px;

  h2 {
    text-align: center;
  }
}

// Home View
.welcome p {
  color: white;
}

.homeView {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.memoji {
  border-radius: 50%;
  height: 300px;
  margin-top: 100px;
}

// Resources View
.card-container-a {
  display: flex;
  flex-flow: row wrap;
  margin-top: 25px;
  justify-content: center;

  .card {
    width: 220px;
    height: auto;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-body {
    flex: none;
  }
}

// Single Trip View
.single-trip-card {
  width: 50%;
}
