@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "variables";

body {
  background-color: $favColor;
}

// Nav Bar
.navLogo {
  border-radius: 50%;
  height: 40px;
}

.nav-link {
  font-family: 'Mate SC', serif;
  font-size: x-large;
}

.btn-in {
  font-family: 'Mate SC', serif;
  color: #d3910e;
  background-color: #25612a;
}

.btn-out {
  font-family: 'Mate SC', serif;
  color: #d3910e;
  background-color: #25612a;
}

li {
  list-style: none;
}

.user-info {
  display: flex;
  flex-flow: row;
  .profilePic {
  width: 2em;
  margin-right: 1em;
  }
  .userInfo {
    font-family: 'Mate SC', serif;
    color: #d3910e;
    margin-right: 1em;
    font-size: x-large;
  }
}

// Trips view
.card-container {
  font-family: 'Mate SC', serif;
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
  justify-content: center;

  .card {
    width: 200px;
    height: fit-content;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-body {
    flex: none;
  }
}

.trip-image {
  object-fit: cover !important;
  // width: auto;
  // height: auto;
  // object-fit: fill;
}

.trip-card {
  box-shadow: 5px 5px 5px 0px rgb(4, 48, 8);
}

.trips-header {
  font-family: 'Mate SC', serif;
  color: #d3910e;
  margin-top: 100px;
  text-align: center;
}

.trips-background {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.searchContainer {
  font-family: 'Mate SC', serif;
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

// Trips Planner View

.planner-container {
  width: 100%;

  h2 {
    text-align: center;
  }
}

.form-container {
  margin-top: 100px;
  font-family: 'Mate SC', serif;
  color: #d3910e;
  flex-direction: column;
  padding: 10px;
  width: 50%;

  h1 {
    text-align: center;
  }
}

.card-container-a {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
  justify-content: center;

  .card {
    width: 200px;
    height: auto;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-body {
    font-family: 'Mate SC', serif;
    flex: none;
  }
}

.trip-image {
  width: 100%;
  height: 5em;
  object-fit: fill;
}

.update-trip-card {
  box-shadow: 5px 5px 5px 0px rgb(4, 48, 8);
}

// Home View
.welcome {
  font-family: 'Mate SC', serif;
  color: #d3910e;
  position: fixed;
  bottom: 50px;

  // h1 {
  //   color: white;
  // }
  // p {
  //   color: white;
  // }
}

.homeView {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.memoji {
  border-radius: 50%;
  height: 300px;
  position: fixed;
  top: 100px;
}

// Resources View
.resource-card {
  box-shadow: 5px 5px 5px 0px rgb(4, 48, 8);
}

.resource-button {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

// Single Trip View
.card-container-b {
  display: flex;
  flex-flow: row wrap;
  margin-top: 100px;
  justify-content: center;

  .card {
    width: 40%;
    height: auto;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-body {
    flex: none;
  }
}

.single-trip-card {
  box-shadow: 5px 5px 5px 0px rgb(4, 48, 8);
}
