@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "variables";

body {
  background-color: $favColor;
}

.navLogo {
  border-radius: 50%;
  height: 40px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 100px;
  justify-content: center;

  .card {
    width: 700px;
    height: auto;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-body {
    flex: none;
  }
}

li {
  list-style: none;
}

.user-welcome {
  margin-top: 100px;
  color: black;
}

.jumbotron {
  background-color: $favColor;
  // background: url('../assets/hikinglogo2.jpg') no-repeat center center;
}

.memoji {
  border-radius: 50%;
  height: 300px;
  margin-top: 100px;
}

.planner-container {
  margin-top: 100px;
  width: 100%;

  h2 {
    text-align: center;
  }
}

.form-container {
  padding: 10px;

  h2 {
    text-align: center;
  }
}

.card-container-a {
  display: flex;
  flex-flow: row wrap;
  margin-top: 25px;
  justify-content: center;

  .card {
    width: 220px;
    height: auto;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-body {
    flex: none;
  }
}

.single-trip-card {
  width: 50%;
}
